<h3>FTP Storage Configuration</h3>
<div class="row">
  <div class="form-group col-md-6">
    <label for="ftp[username]" class="form-label">Username</label>
    <input type="text" class="form-control" name="ftp[username]" placeholder="Username" aria-label="Username" required>
  </div>
  <div class="form-group col-md-6">
    <label for="ftp[password]" class="form-label">Password</label>
    <input type="password" class="form-control" name="ftp[password]" placeholder="Password" aria-label="Password" required>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
      <label for="ftp[address]" class="form-label">Address</label>
      <input type="text" class="form-control" name="ftp[address]" placeholder="server.com:21" aria-label="Address" required>
  </div>
  <div class="form-group col-md-6">
      <label for="ftp[directory]" class="form-label">Directory</label>
      <input type="text" class="form-control" name="ftp[directory]" placeholder="/path/to/base/directory" aria-label="Directory" required>
  </div>
</div>
