{{ define "head" }} {{ end }} {{ define "content" }}
<div class="container">
  <h1>Create New Event</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/events">Events</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Event</li>
    </ol>
  </nav>
  <div class="mb-3">
    <label for="storageSelect" class="form-label">Storage Type</label>
    <select
      id="storageSelect"
      class="form-select"
      aria-label="Storage Type"
      hx-get="/storageForm"
      hx-trigger="change[target.selectedIndex != 0]"
      hx-target="#storageForm"
      hx-swap="innerHTML"
      name="storage"
    >
      <option disabled selected>Open this select menu</option>
      {{range .storageTypes}}
      <option value="{{.Value}}" {{if .Disabled}}disabled{{end}}>{{.Name}}</option>
      {{end}}
    </select>
  </div>

  <form name="eventForm" id="eventForm" hx-ext='json-enc-custom' hx-post='/event'>
    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="name" class="form-label">Event Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          aria-label="Event Name"
          placeholder="e.g. My awesome party!"
          required
        />
      </div>
      <div class="form-group col-md-6">
        {{ template "createEventSlug.html" }}
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="password" class="form-label">Event Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        aria-label="Event Password"
        placeholder="optional"
      />
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="liveCheckbox"
          name="live"
        />
        <label class="form-check-label" for="liveCheckbox"> Live </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="cacheCheckbox"
          name="cache"
        />
        <label class="form-check-label" for="cacheCheckbox"> Cache </label>
      </div>
      <div id="storageForm">
        <!-- this will get populated with the relevant form controls based on selection above -->
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}
{{ define "scripts" }}
<script>
var driveElement = null;
window.addEventListener("load", function () {
  document.body.addEventListener('drivePicker', function (e) {
      if (driveElement !== null) driveElement.removeEventListener("picker:picked", console.log)
      console.log("drive picker event");
      driveElement = document.querySelector("drive-picker");
      driveElement.addEventListener("picker:picked", function(result) {
        console.log(result);
        let folderIdInput = document.getElementById('googleDriveFolderId');
        folderIdInput.value = result.detail.docs[0].id;
      });
  })
});
</script>
<script src="/static/scripts/json-enc-custom.js"></script>
<script src="/static/scripts/drive-picker-element/index.iife.min.js"></script>
{{ end }}
