{{ define "head" }} {{ end }} {{ define "content" }}
<div class="container">
  <h1>Events</h1>
  <div class="d-flex flex-row justify-content-between">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Events</li>
      </ol>
    </nav>
    <span>User {{.user.Username}}</span>
  </div>
  <a href="/event/new" class="btn btn-primary" role="button">New Event</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Live</th>
        <th>Cache</th>
        {{ if .config.SingleEventMode }}
        <th>Active</th>
        {{ end }}
        <th>QR</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {{ range .events }}
      {{template "eventRow.html" dict "event" . "config" $.config }}
      {{ end }}
    </tbody>
  </table>
</div>

<div id="qrModal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{{ end }}

{{ define "scripts" }}
<script>
function downloadQrCode() {
  var qrImg = document.getElementById("eventQrCode");
  var a = document.createElement("a");
  a.href = qrImg.src;
  a.download = "qrcode.png";
  a.click();
}
</script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
{{ end }}
