{{ define "head"}}{{ end }}

{{ define "content" }}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
    <h1>No Active Event Set</h1>
    <p>Create an event and mark one as <em>active</em> to make it the landing page.</p>
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" href="/event/new" role="button">Create event</a>
        <a class="btn btn-primary" href="/events" role="button">Manage events</a>
    </div>
</div>

{{ end }}

{{ define "scripts" }}{{ end }}