{{$length := len .thumbnails}}

{{range $index, $item := .thumbnails}}
<div style="border: none;" class="card m-1" {{if (isLast $index $length)}} hx-trigger="revealed" hx-swap="afterend" hx-get="/thumbnails/{{$.eventId}}?page={{$.nextPage}}" hx-indicator="#spinner"{{end}}>
    {{ if $item.FileInfo.Video }}
    <a
        class="lg-item"
        data-video='{"source": [{"src": "/storage/picture/{{$item.FileInfo.Id}}"}]}'
        data-poster="/storage/thumbnail/{{$item.Id}}"
        data-alt="{{$item.FileInfo.Name}}"
        data-download="{{$item.FileInfo.Name}}"
        data-download-url="/storage/picture/{{$item.FileInfo.Id}}"
        title="{{$item.FileInfo.Name}}"
    >
        <img
            src="/storage/thumbnail/{{$item.Id}}"
            class="card-img shadow-lg img-fluid w-100 rounded"
            alt="{{$item.Name}}"
        >
    </a> 
    {{ else }}
    <a 
        class="lg-item"
        href="/storage/picture/{{$item.FileInfo.Id}}"
        data-alt="{{$item.FileInfo.Name}}"
        data-download="{{$item.FileInfo.Name}}"
        data-download-url="/storage/picture/{{$item.FileInfo.Id}}"
        title="{{$item.FileInfo.Name}}"
    >
        <img
            src="/storage/thumbnail/{{$item.Id}}"
            class="card-img shadow-lg img-fluid w-100 rounded"
            alt="{{$item.Name}}"
        >
    </a>
    {{ end }}
</div>
{{end}}