/* 3 columns by default */
.grid-sizer,
.grid-item {
  width: 33.333%;
}

@media screen and (min-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  /* 5 columns for larger screens */
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}

.lb-image,
.lb-dataContainer {
  max-width: 100%;
  height: auto !important;
  width: 100%;
}

.lb-outerContainer {
  max-width: 100%;
  height: auto !important;
}
